*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: $font-family;
}

:root {
  --primary: #{$primary};
  --font-family: #{$font-family};
}

// For Loop
@for $var from 1 to 5 {
  .m-#{$var} {
    margin: #{$var}px;
  }
}

@for $var from 1 through 5 {
  .p-#{$var} {
    padding: #{$var}px;
  }
}

// ForEach
@each $val in (10, 20, 30) {
  .border-radius-#{$val} {
    border-radius: #{$val}px;
  }
}

@each $color, $value in $theme-color {
  .bg-#{$color} {
    background-color: lighten($value, 10%);
  }
}