// Variables
$font-family: "Open Sans", sans-serif;

// Sidebar
$sidebar-expand-width: 250px;
$sidebar-collapse-width: 100px;

// Color
$primary: #be5514;
$white: #ffffff;

$border-color: #dddddd;

// Maps
$theme-color: (
  "primary": $primary,
  "info":    #03A9F4,
  "warning": #FFC107,
  "success": #4CAF50,
  "error": #FF5722,
  "gray": #9E9E9E,
  "gray-dark": #424242,
  "gray-light": #BDBDBD,
  "light": #F5F5F5,
  "dark": #212121,
);

$colors: (
  "black": #000000
);

// @debug map-has-key($theme-color, "grey" );
// @debug map-keys($theme-color);
// @debug map-values($theme-color);
// @debug map-merge($theme-color , $colors );

$is-rounded: false;