.btn {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $border-color;
}

// Each Loop
@each $color, $value in $theme-color {
  .btn-#{$color} {
    // background-color: $value;
    // color: color-yiq($value);
    // border-color: $value;
    @include button-variant($value, $value);
  }
}